<%- include('partials/header') %>

<%- include('partials/nav') %>
    
<div class="full-container animate__animated animate__bounceIn animate__slow">
    <h2>Add Match</h2>
    <div class="container-2">
            <form action="/leagues/addmatch?_method=POST" method="post">
                <div class="input-container">
                    <input type="text" name="title" id="title" required>
                    <label for="title">Title</label>
                </div>
                <div class="input-container">
                    <input type="text" name="firstPlace" id="firstPlace" required>
                    <label for="firstPlace">First Place</label>
                </div>
                <div class="input-container">
                    <input type="text" name="secondPlace" id="secondPlace" required>
                    <label for="secondPlace">Second Place</label>
                </div>
                <div class="input-container">
                    <input type="text" name="KOG" id="KOG" required>
                    <label for="KOG">King of goals</label>
                </div>
                <div class="input-container">
                    <input type="text" name="KOA" id="KOA" required>
                    <label for="KOA">King of assist</label>
                </div>
                <div class="title error"></div>
                <input type="hidden" name="userId" id="userId" value="<%= user.id %>" readonly>
                <input type="hidden" name="leagueId" id="leagueId" value="<%=id%>" readonly>
                <button class="light-btn">Add Match</button>
            </form>
    </div>
</div>

<script>
    const form = document.querySelector('form');
    const titleError = document.querySelector('.title.error')

        form.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        //reset errors
        titleError.textContent = ''

        //get the values
        const title = form.title.value
        const firstPlace = form.firstPlace.value
        const secondPlace = form.secondPlace.value
        const KOG = form.KOG.value
        const KOA = form.KOA.value
        const usersId = form.userId.value
        const leagueId = form.leagueId.value

        try {
            const res = await fetch('/leagues/addmatch', {
                method: 'POST',
                body: JSON.stringify({title, usersId, leagueId, firstPlace, secondPlace, KOG, KOA}),
                headers: {'Content-Type': 'application/json'}
            })
            const data = await res.json()
            if(data.errors) {
                titleError.textContent = data.errors.title

            }
            if(!data.errors){
                window.location.replace("/");
            }
        }
        catch (err) {
            console.log(err)
        }
    })
</script>

<%- include('partials/footer') %>