<%- include('partials/header') %>

<%- include('partials/nav') %>
<div class="full-container animate__animated animate__bounceIn animate__slow">
    <h1>Edit League Page!</h1>
    <form action="/league/<%= league.id %>?_method=DELETE" method="POST">
        <button type="submit" class="light-btn delete">Delete League</button>
    </form>
    <div class="container-2">
        <div class="card-2">
            <form action="/league/edit/<%=league._id%>?_method=PUT" method="POST">
                <div class="input-container">
                    <input type="text" id="title" name="title" value="<%= league.title %>" required>
                    <label for="title">Title</label>
                </div>
                <button type="submit" class="light-btn">Submit</button>
            </form>
        </div>
        <div class="card-2">
            <form action="/league/<%= league.id %>/adduser?_method=POST" method="POST">
                <div class="input-container">
                    <input type="text" id="email" name="email" required>
                    <label for="email">User email</label>
                </div>
                <button type="submit" class="light-btn">Add User</button>
            </form>
        </div>
    </div>
    <p>Last update: <%= league.updatedAt.toLocaleDateString('en-GB') %></p>
</div>
<%- include('partials/footer') %>

<script>
    
</script>