<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="full-container animate__animated animate__bounceIn animate__slow">
    <% if(!user) { %>
    <h2 class="animate__animated animate__bounce animate__delay-3s  animate__repeat-2">Welcome, Guest.</h2>
    <% } else { %>
    <h2 class="animate__animated animate__bounce animate__delay-3s  animate__repeat-2">Welcome, <%= user.firstName %> <%= user.lastName %>.</h2>
    <% } %>
    <div class="container">
    <p>
        FLM - Football leagues management, App to create and save your league and matches. Choose who first place, second place, king of goals and king of assists.
    </p>
    </div>
</div>

<%- include('partials/footer') %>