<%- include('partials/header') %>

<%- include('partials/nav') %>
    
<div class="full-container-2">
    <h1>League Page!</h1>
    <h3><%= leagues.title %></h3>
    <p>Created at: <%= leagues.createdAt.toLocaleDateString('en-GB') %></p>
        <% usersInLeague.forEach(userInLeague => { %> 
            <% if(userInLeague.id === user.id) { %>
                <a href="/leagues/<%=leagues.id%>/addmatch">Add Match</a>
            <% } %>
        <% }) %> 
            <% if(user.admin) { %>
                <a href="/league/edit/<%=leagues.id%>">Edit</a>
            <% } %> 
        <div class="container">
            <h3>Users In League:</h3>
            <% if(usersInLeague.length > 0) { %>
                <% usersInLeague.forEach(userInLeague => { %> 
                    <p><%= userInLeague.firstName %> <%= userInLeague.lastName %></p>
                <% }) %> 
            <% } else { %>
                <p>There are no Users to display...</p>
            <% } %>
        </div>
        <div class="container-2">
            <div class="ptable">
                <h3>League Tables :</h3>
                <table>
                    <tr class="col">
                        <th>Users</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>KOG</th>
                        <th>KOA</th>
                        <th>Points</th>
                    </tr>
            <% if(leagues.usersId.length > 0) { %> 
                <% usersInLeague.forEach(userInLeague => { %>
                    <% let store = 0 %>
                    <% let firstplace = 0 %>
                    <% let secondplace = 0 %>
                    <% let KOG = 0 %>
                    <% let KOA = 0 %>
                    <% matches.forEach(match => { %> 
                        <% if(userInLeague.id == match.firstPlace) { %> 
                            <% store += 4 %>
                            <% firstplace += 1 %>
                        <% } %>
                        <% if(userInLeague.id == match.secondPlace) { %> 
                            <% store += 3 %>
                            <% secondplace += 1 %>
                        <% } %>
                        <% if(userInLeague.id == match.KOG) { %> 
                            <% store += 2 %>
                            <% KOG += 1 %>
                        <% } %>
                        <% if(userInLeague.id == match.KOA) { %> 
                            <% store += 1 %>
                            <% KOA += 1 %>
                        <% } %>
                    <% }) %>
                        <tr class="wpos">
                            <td><%= userInLeague.firstName %> <%= userInLeague.lastName %></td>
                            <td><%= firstplace %></td>
                            <td><%= secondplace %></td>
                            <td><%= KOG %></td>
                            <td><%= KOA %></td>
                            <td><%= store %></td>
                        </tr>
                <% }) %>
                    </table>
                </div>
            <% } else { %>
                <p>There are no Players to display...</p>
            <% } %>
        </div>
        <div class="container-2">
        <% if(matches.length > 0) { %>
            <% matches.forEach(match => { %> 
                <div class="card">
                    <div class="card-box">
                        <h3><a href="/league/match/<%=match.slug%>"><%= match.title %></a></h3>
                        <p>Created at: <%= match.createdAt.toLocaleDateString('en-GB') %></p>
                    </div>
                </div>
            <% }) %> 
        <% } else { %>
            <p>There are no Matches to display...</p>
        <% } %>
        </div>
</div>
<%- include('partials/footer') %>

<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
    const table = th.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.appendChild(tr) );
})));

    window.onload = function() {
        (document.getElementsByTagName( 'th' )[4]).click();
    };
</script>