<%- include('partials/header') %>

<%- include('partials/nav') %>
    
<div class="full-container-2">
    <h2>Leagues</h2>
    <% if(user.admin) { %>
    <a href="/leagues/add">add league</a>
    <% } %> 
    <div class="container-2">
        <% if(leagues.length > 0) { %>
            <% leagues.forEach(league => { %> 
                <div class="card">
                    <div class="card-box">
                        <h3><a href="/league/<%=league.slug%>"><%= league.title %></a></h3>
                        <p>Created at: <%= league.createdAt.toLocaleDateString('en-GB') %></p>
                    </div>
                </div>
            <% }) %> 
        <% } else { %>
            <p>There are no Leagues to display...</p>
        <% } %>
    </div>

</div>

<%- include('partials/footer') %>

<script>
socket.on('newLeague', function() {
        setTimeout(function(){
            window.location.href=window.location.href
        }, 1000);
    });
</script>