<%- include('partials/header') %>

<%- include('partials/nav') %>
<div class="full-container-2">
    <h1>Match Page!</h1>
    <div>
        <h3><%= matches.title %></h3>
        <p>Created at: <%= matches.createdAt.toLocaleDateString('en-GB') %></p>
        <% usersInMatch.forEach(userInMatch => { %> 
            <% if(userInMatch.id === user.id) { %>
                <a href="/league/match/edit/<%=matches.id%>">Edit</a>
            <% } %>
        <% }) %> 
    </div>
    <div>
        <h3>Users In Match:</h3>
        <% if(usersInMatch.length > 0) { %>
            <% usersInMatch.forEach(userInMatch => { %> 
                <p><%= userInMatch.firstName %> <%= userInMatch.lastName %></p>
            <% }) %> 
        <% } else { %>
            <p>There are no Users to display...</p>
        <% } %>
    </div>

    <div class="container">
        <h2><i class="fa-solid fa-ranking-star"></i>  Ranks</h2>
        <h4><i class="fa-solid fa-trophy first-place"></i> First Place:</h4>
        <p><%= firstPlace.firstName %> <%= firstPlace.lastName %></p>
        <h4><i class="fa-solid fa-trophy second-place"></i> Second Place:</h4>
        <p><%= secondPlace.firstName %> <%= secondPlace.lastName %></p>
        <h4><i class="fa-regular fa-futbol KOG"></i> King of goals:</h4>
        <p><%= KOG.firstName %> <%= KOG.lastName %></p>
        <h4><i class="fa-solid fa-medal KOA"></i>  King of assists:</h4>
        <p><%= KOA.firstName %> <%= KOA.lastName %></p>
    </div>

</div>
<%- include('partials/footer') %>

<script>
    socket.on('newMatch', function() {
        setTimeout(function(){
            window.location.href=window.location.href
        }, 1000);
    });

    socket.on('newLeague', function() {
        setTimeout(function(){
            window.location.href=window.location.href
        }, 1000);
    });

    socket.on('changeUserName', function() {
        setTimeout(function(){
            window.location.href=window.location.href
        }, 1000);
    });
</script>