<%- include('partials/header') %>

<%- include('partials/nav') %>
<div class="full-container">
    <h1>Match Page!</h1>
    <div>
        <h3><%= matches.title %></h3>
        <p>Created at: <%= matches.createdAt.toLocaleDateString('en-GB') %></p>
        <% if(user.admin) { %>
            <a href="/league/match/edit/<%=matches.id%>">Edit</a>
        <% } %>
    </div>
    <div>
        <h3>Users In Match:</h3>
        <% if(usersInMatch.length > 0) { %>
            <% usersInMatch.forEach(userInMatch => { %> 
                <p><%= userInMatch.firstName %> <%= userInMatch.lastName %></p>
            <% }) %> 
        <% } else { %>
            <p>There are no Users to display...</p>
        <% } %>
    </div>
</div>
<%- include('partials/footer') %>