<%- include('partials/header') %>

<%- include('partials/nav') %>

<div class="full-container animate__animated animate__bounceIn animate__slow">
    <div>
        <h2><%= user.firstName %> <%= user.lastName %> Profile:</h2>
    </div> 
    <div>
        <h3>Email:</h3><p><%= user.email %></p>
    </div>
    <div>
    <h3>Name:</h3><p><%= user.firstName %> <%= user.lastName %></p>
    <a href="/user/edit/<%=user.id%>">Edit</a>
    </div>

    <div>
        <a href="/profile/leagues">My Leagues</a>
    </div>
</div>

<%- include('partials/footer') %>